.nav ul{
  display: flex;

}
.nav ul li{
  padding: 0 20px;
  font-weight: bold;
  list-style-type: none;
  
}
.nav{
    display: flex;
    justify-content: center;
}
.footer{
  display: flex;
  justify-content: center;
}